[aria-roledescription="sortable"] {
	cursor: grab;
	touch-action: none;
}

[aria-roledescription="sortable"]:active {
	cursor: grabbing;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	border: solid 0.1em;
	vertical-align: top;
	padding: 0.5em;
}

.group-box {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.candidate-row {
	margin-top: 0.5em;
	display: flex;
	flex-direction: row;
	align-items: top;
}

.square {
	border: solid 0.1em;
	line-height: 2em;
	height: 2em;
	width: 2em;
	margin-right: 0.5em;
	flex-shrink: 0;
	font-weight: bold;
}

.candidate-name {
	text-align: left;
}

.ballot {
	max-width: 100%;
	overflow-x: auto;
}

.printonly, .printonly * {
	display: none;
}

@media print {
	body :not(#root, #root *) {
		display: none;
	}

	#root :not(.printable, .printable *) {
		display: none;
	}

	.printonly, .printonly * {
		display: revert;
	}

	table {
		margin-right: 10px;
	}
}

footer {
	width: 100%;
	text-align: left;
}