textarea, .config-label {
  width: 95vw;
  max-width: 1400px;
  text-align: left;
}

textarea {
	min-height: 23em;
	margin-bottom: 1em;
}

.config-label {
	display: flex;
	justify-content: space-between;
}

.config-label a {
	text-align: right;
}