#root {
	text-align: center;
	width: 100%;
}

[aria-roledescription="sortable"] {
	cursor: grab;
	touch-action: none;
}

[aria-roledescription="sortable"]:active {
	cursor: grabbing;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	border: solid 0.2em;
	vertical-align: top;
	padding: 0.2em;
}

.row {
	margin-top: 0.2em;
	display: flex;
	align-items: center;
}

.square {
	box-shadow: inset 0 0 0 2px black;
	line-height: 2em;
	height: 2em;
	width: 2em;
	margin-right: 0.2em;
	flex-shrink: 0;
}

.candidateName {
	text-align: left;
}

@media print {
	#root :not(table, table *) {
		display: none;
	}
}